<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqi.system.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.zhiqi.system.domain.SysMenu">
            <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="query" column="query" jdbcType="VARCHAR"/>
            <result property="isFrame" column="is_frame" jdbcType="INTEGER"/>
            <result property="isCache" column="is_cache" jdbcType="INTEGER"/>
            <result property="menuType" column="menu_type" jdbcType="CHAR"/>
            <result property="visible" column="visible" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_name,parent_id,
        order_num,path,component,
        query,is_frame,is_cache,
        menu_type,visible,status,
        perms,icon,create_by,
        create_time,update_by,update_time,
        remark
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_menu
        where  menu_id = #{menuId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_menu
        where  menu_id = #{menuId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zhiqi.system.domain.SysMenu" useGeneratedKeys="true">
        insert into sys_menu
        ( menu_id,menu_name,parent_id
        ,order_num,path,component
        ,query,is_frame,is_cache
        ,menu_type,visible,status
        ,perms,icon,create_by
        ,create_time,update_by,update_time
        ,remark)
        values (#{menuId,jdbcType=BIGINT},#{menuName,jdbcType=VARCHAR},#{parentId,jdbcType=BIGINT}
        ,#{orderNum,jdbcType=INTEGER},#{path,jdbcType=VARCHAR},#{component,jdbcType=VARCHAR}
        ,#{query,jdbcType=VARCHAR},#{isFrame,jdbcType=INTEGER},#{isCache,jdbcType=INTEGER}
        ,#{menuType,jdbcType=CHAR},#{visible,jdbcType=CHAR},#{status,jdbcType=CHAR}
        ,#{perms,jdbcType=VARCHAR},#{icon,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP}
        ,#{remark,jdbcType=VARCHAR}))
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhiqi.system.domain.SysMenu" useGeneratedKeys="true">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="menuId != null">menuId,</if>
                <if test="menuName != null">menuName,</if>
                <if test="parentId != null">parentId,</if>
                <if test="orderNum != null">orderNum,</if>
                <if test="path != null">path,</if>
                <if test="component != null">component,</if>
                <if test="query != null">query,</if>
                <if test="isFrame != null">isFrame,</if>
                <if test="isCache != null">isCache,</if>
                <if test="menuType != null">menuType,</if>
                <if test="visible != null">visible,</if>
                <if test="status != null">status,</if>
                <if test="perms != null">perms,</if>
                <if test="icon != null">icon,</if>
                <if test="createBy != null">createBy,</if>
                <if test="createTime != null">createTime,</if>
                <if test="updateBy != null">updateBy,</if>
                <if test="updateTime != null">updateTime,</if>
                <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="menuId != null">menu_id = #{menuId,jdbcType=BIGINT},</if>
                <if test="menuName != null">menu_name = #{menuName,jdbcType=VARCHAR},</if>
                <if test="parentId != null">parent_id = #{parentId,jdbcType=BIGINT},</if>
                <if test="orderNum != null">order_num = #{orderNum,jdbcType=INTEGER},</if>
                <if test="path != null">path = #{path,jdbcType=VARCHAR},</if>
                <if test="component != null">component = #{component,jdbcType=VARCHAR},</if>
                <if test="query != null">query = #{query,jdbcType=VARCHAR},</if>
                <if test="isFrame != null">is_frame = #{isFrame,jdbcType=INTEGER},</if>
                <if test="isCache != null">is_cache = #{isCache,jdbcType=INTEGER},</if>
                <if test="menuType != null">menu_type = #{menuType,jdbcType=CHAR},</if>
                <if test="visible != null">visible = #{visible,jdbcType=CHAR},</if>
                <if test="status != null">status = #{status,jdbcType=CHAR},</if>
                <if test="perms != null">perms = #{perms,jdbcType=VARCHAR},</if>
                <if test="icon != null">icon = #{icon,jdbcType=VARCHAR},</if>
                <if test="createBy != null">create_by = #{createBy,jdbcType=VARCHAR},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateBy != null">update_by = #{updateBy,jdbcType=VARCHAR},</if>
                <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="remark != null">remark = #{remark,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhiqi.system.domain.SysMenu">
        update sys_menu
        <set>
                <if test="menuName != null">
                    menu_name = #{menuName,jdbcType=VARCHAR},
                </if>
                <if test="parentId != null">
                    parent_id = #{parentId,jdbcType=BIGINT},
                </if>
                <if test="orderNum != null">
                    order_num = #{orderNum,jdbcType=INTEGER},
                </if>
                <if test="path != null">
                    path = #{path,jdbcType=VARCHAR},
                </if>
                <if test="component != null">
                    component = #{component,jdbcType=VARCHAR},
                </if>
                <if test="query != null">
                    query = #{query,jdbcType=VARCHAR},
                </if>
                <if test="isFrame != null">
                    is_frame = #{isFrame,jdbcType=INTEGER},
                </if>
                <if test="isCache != null">
                    is_cache = #{isCache,jdbcType=INTEGER},
                </if>
                <if test="menuType != null">
                    menu_type = #{menuType,jdbcType=CHAR},
                </if>
                <if test="visible != null">
                    visible = #{visible,jdbcType=CHAR},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=CHAR},
                </if>
                <if test="perms != null">
                    perms = #{perms,jdbcType=VARCHAR},
                </if>
                <if test="icon != null">
                    icon = #{icon,jdbcType=VARCHAR},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="remark != null">
                    remark = #{remark,jdbcType=VARCHAR},
                </if>
        </set>
        where   menu_id = #{menuId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhiqi.system.domain.SysMenu">
        update sys_menu
        set 
            menu_name =  #{menuName,jdbcType=VARCHAR},
            parent_id =  #{parentId,jdbcType=BIGINT},
            order_num =  #{orderNum,jdbcType=INTEGER},
            path =  #{path,jdbcType=VARCHAR},
            component =  #{component,jdbcType=VARCHAR},
            query =  #{query,jdbcType=VARCHAR},
            is_frame =  #{isFrame,jdbcType=INTEGER},
            is_cache =  #{isCache,jdbcType=INTEGER},
            menu_type =  #{menuType,jdbcType=CHAR},
            visible =  #{visible,jdbcType=CHAR},
            status =  #{status,jdbcType=CHAR},
            perms =  #{perms,jdbcType=VARCHAR},
            icon =  #{icon,jdbcType=VARCHAR},
            create_by =  #{createBy,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_by =  #{updateBy,jdbcType=VARCHAR},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            remark =  #{remark,jdbcType=VARCHAR}
        where   menu_id = #{menuId,jdbcType=BIGINT} 
    </update>
</mapper>
