<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqi.system.mapper.SysRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.zhiqi.system.domain.SysRoleMenu">
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
            <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,menu_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role_menu
        where  role_id = #{roleId,jdbcType=BIGINT}  menu_id = #{menuId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_role_menu
        where  role_id = #{roleId,jdbcType=BIGINT}  menu_id = #{menuId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zhiqi.system.domain.SysRoleMenu" useGeneratedKeys="true">
        insert into sys_role_menu
        ( role_id,menu_id)
        values (#{roleId,jdbcType=BIGINT},#{menuId,jdbcType=BIGINT}))
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhiqi.system.domain.SysRoleMenu" useGeneratedKeys="true">
        insert into sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="roleId != null">roleId,</if>
                <if test="menuId != null">menuId,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="roleId != null">role_id = #{roleId,jdbcType=BIGINT},</if>
                <if test="menuId != null">menu_id = #{menuId,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhiqi.system.domain.SysRoleMenu">
        update sys_role_menu
        <set>
        </set>
        where   role_id = #{roleId,jdbcType=BIGINT}  menu_id = #{menuId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhiqi.system.domain.SysRoleMenu">
        update sys_role_menu
        set 
        where   role_id = #{roleId,jdbcType=BIGINT}  menu_id = #{menuId,jdbcType=BIGINT} 
    </update>
</mapper>
