<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqi.generator.mapper.GenTableMapper">

    <resultMap id="BaseResultMap" type="GenTable">
        <id property="tableId" column="table_id" jdbcType="BIGINT"/>
        <result property="tableName" column="table_name" jdbcType="VARCHAR"/>
        <result property="tableComment" column="table_comment" jdbcType="VARCHAR"/>
        <result property="subTableName" column="sub_table_name" jdbcType="VARCHAR"/>
        <result property="subTableFkName" column="sub_table_fk_name" jdbcType="VARCHAR"/>
        <result property="className" column="class_name" jdbcType="VARCHAR"/>
        <result property="tplCategory" column="tpl_category" jdbcType="VARCHAR"/>
        <result property="packageName" column="package_name" jdbcType="VARCHAR"/>
        <result property="moduleName" column="module_name" jdbcType="VARCHAR"/>
        <result property="businessName" column="business_name" jdbcType="VARCHAR"/>
        <result property="functionName" column="function_name" jdbcType="VARCHAR"/>
        <result property="functionAuthor" column="function_author" jdbcType="VARCHAR"/>
        <result property="genType" column="gen_type" jdbcType="CHAR"/>
        <result property="genPath" column="gen_path" jdbcType="VARCHAR"/>
        <result property="options" column="options" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        table_id,table_name,table_comment,
        sub_table_name,sub_table_fk_name,class_name,
        tpl_category,package_name,module_name,
        business_name,function_name,function_author,
        gen_type,gen_path,options,
        create_by,create_time,update_by,
        update_time,remark
    </sql>

    <select id="selectGenTableByName" parameterType="String" resultType="com.zhiqi.generator.domain.GenTable">
        select t.table_id, t.table_name, t.table_comment, t.sub_table_name, t.sub_table_fk_name, t.class_name, t.tpl_category, t.package_name, t.module_name, t.business_name, t.function_name, t.function_author, t.gen_type, t.gen_path, t.options,t.remark,
               c.column_id, c.table_id, c.column_name, c.column_comment, c.column_type, c.java_type, c.java_field, c.is_pk, c.is_increment, c.is_required, c.is_insert, c.is_edit, c.is_list, c.is_query, c.query_type, c.html_type, c.dict_type, c.sort
        from gen_table t
            left join gen_table_column c on t.table_id = c.table_id
        where t.table_name = #{tableName} order by c.sort;
    </select>
    <select id="selectDbTableList" parameterType="GenTable" resultType="com.zhiqi.generator.domain.GenTable">
        SELECT * FROM information_schema.tables
        WHERE table_schema=(SELECT DATABASE())
          AND table_name NOT LIKE 'qrtz_%' AND TABLE_NAME NOT LIKE 'gen_%'
          AND TABLE_NAME NOT IN(SELECT table_name FROM gen_table)
        <if test="">

        </if>
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gen_table
        where table_id = #{tableId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE
        FROM gen_table
        WHERE table_id = #{tableId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="GenTable"
            useGeneratedKeys="true">
        INSERT INTO gen_table
        ( table_id, table_name, table_comment
        , sub_table_name, sub_table_fk_name, class_name
        , tpl_category, package_name, module_name
        , business_name, function_name, function_author
        , gen_type, gen_path, options
        , create_by, create_time, update_by
        , update_time, remark)
        VALUES ( #{tableId,jdbcType=BIGINT}, #{tableName,jdbcType=VARCHAR}, #{tableComment,jdbcType=VARCHAR}
               , #{subTableName,jdbcType=VARCHAR}, #{subTableFkName,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}
               , #{tplCategory,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}
               , #{businessName,jdbcType=VARCHAR}, #{functionName,jdbcType=VARCHAR}, #{functionAuthor,jdbcType=VARCHAR}
               , #{genType,jdbcType=CHAR}, #{genPath,jdbcType=VARCHAR}, #{options,jdbcType=VARCHAR}
               , #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
               , #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}) )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="GenTable"
            useGeneratedKeys="true">
        insert into gen_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableId != null">tableId,</if>
            <if test="tableName != null">tableName,</if>
            <if test="tableComment != null">tableComment,</if>
            <if test="subTableName != null">subTableName,</if>
            <if test="subTableFkName != null">subTableFkName,</if>
            <if test="className != null">className,</if>
            <if test="tplCategory != null">tplCategory,</if>
            <if test="packageName != null">packageName,</if>
            <if test="moduleName != null">moduleName,</if>
            <if test="businessName != null">businessName,</if>
            <if test="functionName != null">functionName,</if>
            <if test="functionAuthor != null">functionAuthor,</if>
            <if test="genType != null">genType,</if>
            <if test="genPath != null">genPath,</if>
            <if test="options != null">options,</if>
            <if test="createBy != null">createBy,</if>
            <if test="createTime != null">createTime,</if>
            <if test="updateBy != null">updateBy,</if>
            <if test="updateTime != null">updateTime,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableId != null">table_id = #{tableId,jdbcType=BIGINT},</if>
            <if test="tableName != null">table_name = #{tableName,jdbcType=VARCHAR},</if>
            <if test="tableComment != null">table_comment = #{tableComment,jdbcType=VARCHAR},</if>
            <if test="subTableName != null">sub_table_name = #{subTableName,jdbcType=VARCHAR},</if>
            <if test="subTableFkName != null">sub_table_fk_name = #{subTableFkName,jdbcType=VARCHAR},</if>
            <if test="className != null">class_name = #{className,jdbcType=VARCHAR},</if>
            <if test="tplCategory != null">tpl_category = #{tplCategory,jdbcType=VARCHAR},</if>
            <if test="packageName != null">package_name = #{packageName,jdbcType=VARCHAR},</if>
            <if test="moduleName != null">module_name = #{moduleName,jdbcType=VARCHAR},</if>
            <if test="businessName != null">business_name = #{businessName,jdbcType=VARCHAR},</if>
            <if test="functionName != null">function_name = #{functionName,jdbcType=VARCHAR},</if>
            <if test="functionAuthor != null">function_author = #{functionAuthor,jdbcType=VARCHAR},</if>
            <if test="genType != null">gen_type = #{genType,jdbcType=CHAR},</if>
            <if test="genPath != null">gen_path = #{genPath,jdbcType=VARCHAR},</if>
            <if test="options != null">options = #{options,jdbcType=VARCHAR},</if>
            <if test="createBy != null">create_by = #{createBy,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateBy != null">update_by = #{updateBy,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="remark != null">remark = #{remark,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="GenTable">
        update gen_table
        <set>
            <if test="tableName != null">
                table_name = #{tableName,jdbcType=VARCHAR},
            </if>
            <if test="tableComment != null">
                table_comment = #{tableComment,jdbcType=VARCHAR},
            </if>
            <if test="subTableName != null">
                sub_table_name = #{subTableName,jdbcType=VARCHAR},
            </if>
            <if test="subTableFkName != null">
                sub_table_fk_name = #{subTableFkName,jdbcType=VARCHAR},
            </if>
            <if test="className != null">
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test="tplCategory != null">
                tpl_category = #{tplCategory,jdbcType=VARCHAR},
            </if>
            <if test="packageName != null">
                package_name = #{packageName,jdbcType=VARCHAR},
            </if>
            <if test="moduleName != null">
                module_name = #{moduleName,jdbcType=VARCHAR},
            </if>
            <if test="businessName != null">
                business_name = #{businessName,jdbcType=VARCHAR},
            </if>
            <if test="functionName != null">
                function_name = #{functionName,jdbcType=VARCHAR},
            </if>
            <if test="functionAuthor != null">
                function_author = #{functionAuthor,jdbcType=VARCHAR},
            </if>
            <if test="genType != null">
                gen_type = #{genType,jdbcType=CHAR},
            </if>
            <if test="genPath != null">
                gen_path = #{genPath,jdbcType=VARCHAR},
            </if>
            <if test="options != null">
                options = #{options,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where table_id = #{tableId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="GenTable">
        UPDATE gen_table
        SET table_name        = #{tableName,jdbcType=VARCHAR},
            table_comment     = #{tableComment,jdbcType=VARCHAR},
            sub_table_name    = #{subTableName,jdbcType=VARCHAR},
            sub_table_fk_name = #{subTableFkName,jdbcType=VARCHAR},
            class_name        = #{className,jdbcType=VARCHAR},
            tpl_category      = #{tplCategory,jdbcType=VARCHAR},
            package_name      = #{packageName,jdbcType=VARCHAR},
            module_name       = #{moduleName,jdbcType=VARCHAR},
            business_name     = #{businessName,jdbcType=VARCHAR},
            function_name     = #{functionName,jdbcType=VARCHAR},
            function_author   = #{functionAuthor,jdbcType=VARCHAR},
            gen_type          = #{genType,jdbcType=CHAR},
            gen_path          = #{genPath,jdbcType=VARCHAR},
            options           = #{options,jdbcType=VARCHAR},
            create_by         = #{createBy,jdbcType=VARCHAR},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            update_by         = #{updateBy,jdbcType=VARCHAR},
            update_time       = #{updateTime,jdbcType=TIMESTAMP},
            remark            = #{remark,jdbcType=VARCHAR}
        WHERE table_id = #{tableId,jdbcType=BIGINT}
    </update>
</mapper>