<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiqi.generator.mapper.GenTableColumnMapper">

    <resultMap id="GenTableColumnResultMap" type="GenTableColumn">
            <id property="columnId" column="column_id" jdbcType="BIGINT"/>
            <result property="tableId" column="table_id" jdbcType="VARCHAR"/>
            <result property="columnName" column="column_name" jdbcType="VARCHAR"/>
            <result property="columnComment" column="column_comment" jdbcType="VARCHAR"/>
            <result property="columnType" column="column_type" jdbcType="VARCHAR"/>
            <result property="javaType" column="java_type" jdbcType="VARCHAR"/>
            <result property="javaField" column="java_field" jdbcType="VARCHAR"/>
            <result property="isPk" column="is_pk" jdbcType="CHAR"/>
            <result property="isIncrement" column="is_increment" jdbcType="CHAR"/>
            <result property="isRequired" column="is_required" jdbcType="CHAR"/>
            <result property="isInsert" column="is_insert" jdbcType="CHAR"/>
            <result property="isEdit" column="is_edit" jdbcType="CHAR"/>
            <result property="isList" column="is_list" jdbcType="CHAR"/>
            <result property="isQuery" column="is_query" jdbcType="CHAR"/>
            <result property="queryType" column="query_type" jdbcType="VARCHAR"/>
            <result property="htmlType" column="html_type" jdbcType="VARCHAR"/>
            <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        column_id,table_id,column_name,
        column_comment,column_type,java_type,
        java_field,is_pk,is_increment,
        is_required,is_insert,is_edit,
        is_list,is_query,query_type,
        html_type,dict_type,sort,
        create_by,create_time,update_by,
        update_time
    </sql>

    <insert id="insertGenTableColumn" keyProperty="columnId" parameterType="GenTableColumn" useGeneratedKeys="true">
        insert into gen_table_column
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableId != null">table_id,</if>
            <if test="columnName != null">column_name,</if>
            <if test="columnComment != null">column_comment,</if>
            <if test="columnType != null">column_type,</if>
            <if test="javaType != null">java_type,</if>
            <if test="javaField != null">java_field,</if>
            <if test="isPk != null">is_pk,</if>
            <if test="isIncrement != null">is_increment,</if>
            <if test="isRequired != null">is_required,</if>
            <if test="isInsert != null">is_insert,</if>
            <if test="isEdit != null">is_edit,</if>
            <if test="isList != null">is_list,</if>
            <if test="isQuery != null">is_query,</if>
            <if test="queryType != null">query_type,</if>
            <if test="htmlType != null">html_type,</if>
            <if test="dictType != null">dict_type,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableId != null">#{tableId,jdbcType=VARCHAR},</if>
            <if test="columnName != null">#{columnName,jdbcType=VARCHAR},</if>
            <if test="columnComment != null">#{columnComment,jdbcType=VARCHAR},</if>
            <if test="columnType != null"> #{columnType,jdbcType=VARCHAR},</if>
            <if test="javaType != null">#{javaType,jdbcType=VARCHAR},</if>
            <if test="javaField != null">#{javaField,jdbcType=VARCHAR},</if>
            <if test="isPk != null">#{isPk,jdbcType=CHAR},</if>
            <if test="isIncrement != null">#{isIncrement,jdbcType=CHAR},</if>
            <if test="isRequired != null"> #{isRequired,jdbcType=CHAR},</if>
            <if test="isInsert != null">#{isInsert,jdbcType=CHAR},</if>
            <if test="isEdit != null">#{isEdit,jdbcType=CHAR},</if>
            <if test="isList != null">#{isList,jdbcType=CHAR},</if>
            <if test="isQuery != null">#{isQuery,jdbcType=CHAR},</if>
            <if test="queryType != null">q #{queryType,jdbcType=VARCHAR},</if>
            <if test="htmlType != null">#{htmlType,jdbcType=VARCHAR},</if>
            <if test="dictType != null">#{dictType,jdbcType=VARCHAR},</if>
            <if test="sort != null">#{sort,jdbcType=INTEGER},</if>
            <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <delete id="deleteGenTableColumns" parameterType="collection">
        delete from gen_table_column where column_id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.columnId}
        </foreach>
    </delete>

    <delete id="deleteByColumnId" parameterType="Long">
        delete from gen_table_column
        where table_id IN
        <foreach collection="array" item="tableId" open="(" close=")" separator=",">
            #{tableId}
        </foreach>
    </delete>

    <update id="updateGenTableColumn">
        update gen_table_column
        <set>
            <if test="tableId != null">table_id=#{tableId,jdbcType=NUMERIC},</if>
            <if test="columnName != null">column_name=#{columnName,jdbcType=VARCHAR},</if>
            <if test="columnComment != null">column_comment=#{columnComment,jdbcType=VARCHAR},</if>
            <if test="columnType != null">column_type=#{columnType,jdbcType=VARCHAR},</if>
            <if test="javaType != null">java_type=#{javaType,jdbcType=VARCHAR},</if>
            <if test="javaField != null">java_field=#{javaField,jdbcType=VARCHAR},</if>
            <if test="isPk != null">is_pk=#{isPk,jdbcType=VARCHAR},</if>
            <if test="isIncrement != null">is_increment=#{isIncrement,jdbcType=VARCHAR},</if>
            <if test="isRequired != null">is_required=#{isRequired,jdbcType=VARCHAR},</if>
            <if test="isInsert != null">is_insert=#{isInsert,jdbcType=VARCHAR},</if>
            <if test="isEdit != null">is_edit=#{isEdit,jdbcType=VARCHAR},</if>
            <if test="isList != null">is_list=#{isList,jdbcType=VARCHAR},</if>
            <if test="isQuery != null">is_query=#{isQuery,jdbcType=VARCHAR},</if>
            <if test="queryType != null">query_type=#{queryType,jdbcType=VARCHAR},</if>
            <if test="htmlType != null">html_type=#{htmlType,jdbcType=VARCHAR},</if>
            <if test="dictType != null">dict_type=#{dictType,jdbcType=VARCHAR},</if>
            <if test="sort != null">sort=#{sort,jdbcType=NUMERIC},</if>
            <if test="searchValue != null">search_value=#{searchValue,jdbcType=VARCHAR},</if>
            <if test="createBy != null">create_by=#{createBy,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateBy != null">update_by=#{updateBy,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">update_time=#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="remark != null">remark=#{remark,jdbcType=VARCHAR},</if>
            <if test="params != null">params=#{params},</if>
        </set>
        where columnId = #{columnId,jdbcType=NUMERIC}
    </update>

    <select id="selectGenTableColumnListByTableId" parameterType="Long" resultMap="GenTableColumnResultMap">
        select <include refid="Base_Column_List"/>
        from gen_table_column
        where table_id = #{tableId}
        order by sort
    </select>

    <select id="selectDbTableColumnsByTableName" parameterType="String" resultType="GenTableColumn">
        select column_name,
               if(is_nullable='no' and column_key!='PRI','1',null) is_required,
               if(column_key='PRI','1','0') is_pk,
               ordinal_position as sort,
               column_comment,
               if(extra='auto_increment' ,'1','0') is_increment, column_type
        from information_schema.columns
        where table_schema = (select database())
            and table_name = #{tableName}
        order by ordinal_position
    </select>

</mapper>
